:root {
    font-size: 62.5%;

    --accent-color: hsl(316, 47%, 80%);
    --subaccent-color: hsl(210, 98%, 74%);
    --border-color: hsl(0, 0%, 55%);
    --logo-color: hsl(0, 0%, 0%, 0.2);
}

* {
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
}

body {
    line-height: 1.5;
}

#content {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

#gallery {
    position: relative;
    flex-grow: 1;
    flex-basis: 40vw;
    min-height: 15vh;
    background-color: var(--accent-color);
    background-image: url("https://images.pexels.com/photos/4151484/pexels-photo-4151484.jpeg?auto=compress&cs=tinysrgb&w=3072&h=4608");
    background-size: cover;
    background-position-y: center;
}

#logo {
    position: relative;
    top: 20%;
    height: 80px;
    line-height: 80px;
    color: white;
    background-color: var(--logo-color);
    font-size: 3.6rem;
    font-weight: 600;
    text-align: center;
}

#photo-creds {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1.2rem;
    color: white;
}

#photo-creds a {
    text-decoration: none;
    color: inherit;
}

#signup {
    flex-grow: 1;
    flex-basis: 60vw;
}

h2 {
    font-size: 2rem;
    font-weight: 300;
    margin: 120px 56px 56px 56px;
}

#form-wrapper {
    border: 1px solid var(--accent-color);
    margin: 56px 0;
    padding: 56px;
    box-shadow: 0px 0px 5px var(--accent-color);
    font-size: 1.2rem;
}

h3 {
    width: fit-content;
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: -32px;
    padding-bottom: 8px;
}

#pseudoform {
    display: flex;
    flex-wrap: wrap;
    column-gap: 4%;
    width: 64%;
}

.input-wrapper {
    margin-top: 16px;
    flex-grow: 1;
    flex-basis: 48%;
    min-width: fit-content;
}

label {
    display: block;
    width: fit-content;
    font-weight: 200;
}

input {
    display: block;
    width: 80%;
    height: 36px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

#create-account {
    margin-left: 56px;
    margin-right: 56px;
    min-width: 188px;
    max-width: 220px;
    height: 52px;
    background-color: var(--accent-color);
    border: none;
    border-radius: 8px;
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
}

.button-wrapper {
    width: min-content;
}

#create-account:hover {
    cursor: pointer;
}


#have-account {
    width: fit-content;
    margin-left: 56px;
    margin-bottom: 80px;
}

#have-account a {
    text-decoration: none;
    color: var(--subaccent-color);
}

@media only screen and (max-width: 800px) {
    h3, #pseudoform, label, input, .button-wrapper, #have-account {
        margin-left: auto;
        margin-right: auto;
    }

    #photo-creds {
        display: none;
    }
}